# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
env/
ENV/
DjangoPractice/
Lib/
Scripts/
Include/
pyvenv.cfg

# VS Code
.vscode/

# Django
db.sqlite3
*.sqlite3

# Static files
staticfiles/

# Media
media/

# Migrations (optional)
# */migrations/*
# !*/migrations/__init__.py

# Environment Variables
.env

# OS Files
.DS_Store
Thumbs.db